:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: rgba(255, 255, 255, 0.8);
    /* warm sand background */
    --accent1-color: rgb(0, 38, 77);
    /* solid dark blue */
    --accent1-overlay: rgba(0, 38, 77, 0.60);
    /* semi-transparent dark */
    --accent2-color: rgb(145 102 0);
    /* dark golden brown */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    /* solid dark blue tex */
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    width: 180px;
    height: auto;
}

/* header img change added february 6 2026 */

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    bottom: 1.25rem;
    right: 20px;
    background-color: var(--secondary-color);
    padding: 1rem;
    max-width: 500px;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 7.8125rem;
}

.hero h1 {
    position: absolute;
    top: 1.25rem;
    left: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: var(--accent1-overlay);
    color: #fff;
    /*check if the color selected gives enough contrast*/
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-color);

}

/* header change added february 6 2026 */

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* nav a change added february 6 2026 */

nav ul {
    display: flex;
    width: 80%;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;

}

/* nav ul change added february 6 2026 */

nav a {
    text-decoration: none;
    color: white;
    font: var(--heading-font);
    font-size: 1.2rem;
    font-weight: 500;
}

/* nav a change added february 6 2026 */
nav a:hover {
    color: var(--accent1-color);
    background-color: white;
}

/* nav a:hover change added february 6 2026 */

footer {
    background-color: #3e3e3e;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    align-items: center;
}

footer p {
    color: var(--accent2-color);
    font-weight: 600;
}

footer nav img {
    width: 32px;
    height: auto;
    margin-right: 1rem;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a:hover {
    background-color: unset;
    color: unset;
}

/* socialmedia a:hover change added february 6 2026 */
/* when this is applied the bc color does not change when hover