button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: brown;
    background-color: aliceblue;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.6em;
    color: blue;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid green;
    border-radius: 0.7rem;
    background-color: rgb(0 0 0 / 0.1);
    display: grid;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    gap: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2cqw;
}

fieldset {
    display: grid;
    gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: black;
    font-size: 1.5rem;
}

label,
input,
button,
select,
textarea {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkviolet;
}

button {
    width: 150px;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: .8em;
    color: #777;
    border-top: 1px solid #ccc;
}