* {
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(0, 0, 139);
    --align-center: center;
    --border: 1px solid;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border) black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

main ul {
    list-style: none;
}

aside {
    width: 20rem;
    margin: 1rem;
    position: relative;
    border: var(--border) rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--align-center);
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: #f00;
    /* check to change the img */
}

p {
    padding: 0px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--align-center);
}

/* Class Selectors */
.box {
    border: var(--border) rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    margin: 1rem;
}